@model Web.ViewModels.System.User.ForgetPassViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}

@if (@TempData["success"] != null)
{
    <div class="alert alert-success" role="alert" style="text-align:center">
        @TempData["success"]
    </div>
}
@if (@TempData["err"] != null)
{
    <div class="alert alert-success" role="alert" style="text-align:center">
        @TempData["success"]
    </div>
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/@culture/Home/Index">Home</a> <span class="divider">/</span></li>
        <li class="active">Update password ?</li>
    </ul>
    <h3> FORGET YOUR PASSWORD?</h3>
    <hr class="soft" />

    <div class="row">
        <div class="span9" style="min-height:900px">
            <div class="well">
                <h5>Reset your password</h5><br />
                Please enter the new password. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.<br /><br /><br />
                <form asp-action="ForgetPassword" method="post">
                    <div class="control-group">
                        <label asp-for="Password" class="control-label" for="inputEmail1">Password</label>
                        <div class="controls">
                            <input asp-for="Password" class="span3" type="password" placeholder="Password">
                        </div>
                        <span asp-validation-for="Password" class="text-error"></span>
                    </div>
                    <input asp-for="Email" class="span3" type="hidden" value="dinhson">
                    <div class="controls">
                        <button type="submit" class="btn block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}