df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #5bb75b;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #df9b56;
    --df-messenger-user-message: #df9b56;
}
