@model PhieuNhapCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <link href="~/css/Table.css" rel="stylesheet" />
    <script type="text/javascript">

        var listPro = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.listProduct)'.replace(/&quot;/g, "\""));

        // setSize sản phẩm đầu tiên
        var listSize = listPro[0].listPS;
        for (let j = 0; j < listSize.length; j++) {
            $('#size').append(`<option asp-for="SizeId" value="${listSize[j].SizeId}">
                                ${listSize[j].Size}
                            </option>`);
        }

        function chonsp() {
            $('#size').empty();
            var value = $('#sanphamDropdown :selected').val();

            for (let i = 0; i < listPro.length; i++) {
                if (value == listPro[i].Id) {
                    var listSize = listPro[i].listPS;
                    for (let j = 0; j < listSize.length; j++) {
                        $('#size').append(`<option  value="${listSize[j].SizeId}">
                                       ${listSize[j].Size}
                                  </option>`);
                    }
                    break;
                }
            }

        }
    </script>
    <script>
        var listCTPN = [];
        $(document).ready(function () {
            $(".add-row").click(function () {
                var tenSP = $("#sanphamDropdown option:selected").text();
                var size = $("#size option:selected").text();
                var soluong = $("#soluong").val();
                var giaban = $("#giaban").val();
                var dongia = $("#dongia").val();

                listCTPN.push({
                    'ProductId': $("#sanphamDropdown").val(),
                    'SizeId': $("#size ").val(),
                    'Soluong': soluong,
                    'Dongia': giaban,
                    'Giaban': dongia
                });
            //    var markup = "<tr><td>" + tenSP + "</td><td>" + size + "</td><td>" + soluong + "</td><td>" + giaban + "</td><td>" + dongia + "</td><td><label for='toggle'>Xóa</label><input  type='checkbox' class='visually-hidden' id='toggle' name='record'></td></tr>";
                var markup = "<tr><td>" + tenSP + "</td><td>" + size + "</td><td>" + soluong + "</td><td>" + giaban + "</td><td>" + dongia + "</td><td><button class='btnDelete'>Delete</button></td></tr>";
                $("table tbody").append(markup);
            });

            $("#tbUser").on('click', '.btnDelete', function () {
                $(this).closest('tr').remove();
            });
            // Find and remove selected table rows
            $(".delete-row").click(function () {
                $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    </script>
    <script>
        function CreatePN() {
            var congtyID = $("#congtyID").val();
            $.ajax({
                url: "/PhieuNhap/Create",
                data: { 'CurrentCongtyId': congtyID, 'listCTPN': listCTPN },
                type: "POST",
                dataType: "json",
                //contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    if (data['mgs'] == true) {
                        window.location = '/PhieuNhap/Index';
                    }
                }, error: function (er) {
                    console.log(er);
                }
            });
        }
    </script>
}
<style>
    .visually-hidden {
        position: absolute;
        left: -100vw;
        
      }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .dropdownx {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06)) repeat scroll 0 0 #F2F2F2;
        border-color: #FFFFFF #F7F7F7 #F5F5F5;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        display: inline-block;
        height: 28px;
        overflow: hidden;
        position: relative;
        width: 150px;
    }

        .dropdownx:before, .dropdownx:after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #888888 rgba(0, 0, 0, 0);
            border-image: none;
            border-style: dashed;
            border-width: 4px;
            content: "";
            height: 0;
            pointer-events: none;
            position: absolute;
            right: 10px;
            top: 9px;
            width: 0;
            z-index: 2;
        }

        .dropdownx:before {
            border-bottom-style: solid;
            border-top: medium none;
        }

        .dropdownx:after {
            border-bottom: medium none;
            border-top-style: solid;
            margin-top: 7px;
        }

    .dropdownx-select {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        border: 0 none;
        border-radius: 0;
        color: #62717A;
        font-size: 12px;
        height: 28px;
        line-height: 14px;
        margin: 0;
        padding: 6px 8px 6px 10px;
        position: relative;
        text-shadow: 0 1px #FFFFFF;
        width: 130%;
    }

        .dropdownx-select:focus {
            color: #394349;
            outline: 2px solid #49AFF2;
            outline-offset: -2px;
            width: 100%;
            z-index: 3;
        }

        .dropdownx-select > option {
            background: none repeat scroll 0 0 #F2F2F2;
            border-radius: 3px;
            cursor: pointer;
            margin: 3px;
            padding: 6px 8px;
            text-shadow: none;
        }

    #sanphamDropdown {
        font-size: 15px;
        line-height: unset;
        display: block;
        font-weight: 600;
        height: max-content;
        margin: auto;
        width: 100%;
    }

    #size {
        height: max-content;
        display: block;
        margin: auto;
        padding: 5px;
    }

    .form-group {
        margin: auto;
    }

    .formCTPN {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 0;
        border: solid 2px #000;
        border-radius: 5px;
        padding: 5px;
        margin: 20px 0;
    }
    /*  table*/
</style>
<h4>Tạo mới phiếu nhập</h4>

<div style="display:flex">
    <div style="margin: 5px 0 5px auto">
        <a class="btn btn-info" asp-action="Index">Trở về</a>
    </div>
    <button onclick="return CreatePN()" type="button" style="display:block;margin:5px 0 5px 5px" class=" btn btn-success">Hoàn thành</button>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <label class="control-label">Chọn Công Ty</label>
        <form asp-action="Create" method="post">

            <div class="dropdownx">
                <select id="congtyID" style="background:#fff !important;color:#000;" class="dropdownx-select" asp-for="CurrentCongtyId" asp-items="@(new SelectList(Model.Congtys,"Id","Name",Model.CurrentCongtyId))">
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    @*<form class="formCTPN" asp-action="CreateCTPN" method="post">*@
        <form class="formCTPN">
            <div class="form-group">
                <label class="control-label" style="padding:6px 10px;">Chọn sản phẩm</label>
                <select id="sanphamDropdown" onchange="return chonsp()" class="dropdownx-select" asp-for="ProductId" asp-items="@(new SelectList(Model.listProduct,"Id","Name",Model.ProductId))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Size</label>
                <select id="size" asp-for="SizeId">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input id="soluong" asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá bán</label>
                <input id="giaban" asp-for="Giaban" class="form-control" />
                <span asp-validation-for="Giaban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Đơn giá</label>
                <input id="dongia" asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <input type="button" style="height:max-content; margin:auto 0 5px 0;" value="Thêm" class="btn btn-primary add-row" />
            @*<a class="btn btn-primary" asp-action="Index">Back to List</a>*@
        </form>
</div>
<div>
    @*<button type="button" style="display:block;margin:5px 0 5px auto" class="delete-row btn btn-danger">Delete Row</button>*@
    <table id="tbUser">
        <thead>
            <tr>
                <th>TÊN SẢN PHẨM</th>
                <th>SIZE</th>
                <th>SỐ LƯỢNG</th>
                <th>ĐƠN GIÁ</th>
                <th>GIÁ BÁN</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
